body{
    background-color: #29BDE0;
    margin: 5rem 0 20% 0;
    overflow: auto;
}
header{
    text-align: center;
    font-size: 2rem;
    color: white;
    overflow: hidden;
    width: 100%;
    background-color: #29BDE0;
    padding: 1rem 3rem ;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 ;
}
header .left{
    float: left;
    width: 2rem;
    height: 2rem;
}
header .right{
    float: right;
    width: 2rem;
    height: 2rem;
}
header img {
    width: 100%;
    height: 100%;
    margin: 0 ;
}
.status-bar {
    font-size: 1rem;
    padding: 1rem 7% ;
    background-color: #B9E9F5;
    border: none ;
    margin: 0;
    display: block;
}
.status-bar .right-image{
    float: right;
    background: url("../images/play.png") no-repeat 0 0;
    background-size: contain;
    width: 2.3rem;
    height: 2.3rem;
    margin: 0 ;
}
.downward-triangle{
    margin: 0;
    border: none ;
    display: inline;
}
.person-page .row{
    overflow: hidden;
    margin: 1rem 0 0 0;
}
.person-page{
    margin: 0 ;
}
.hover-father{
    width:  20vw ;
    height:  33vw ;
    margin :  0 5.9%  ;
    float: left;
    overflow: hidden;
}
.person{
    width:  20vw ;
    font-size: 1rem;
    height:  21vw ;
    border: solid white 2px;
    background-color: #F5C97B;
    margin: 0 ;
}
.person .up{
    display: table;
    float: left;
    width: 100%;
    height: 70%;
    background-color: #F5C97B;
    margin: 0 ;
}
.person .down{
    display: table;
    float: left;
    width: 100%;
    height: 30%;
    color: white;
    background-color: #83b09a ;
    margin: 0 ;
}
.person  .word{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0 ;
}
.hover-father:hover .hover-element{
    display: block;
    width:  20vw ;
    height:  12vw ;
    border: solid transparent 3px;
    padding: 4vw 0 ;
    margin: 0 ;
}
.hover-element{
    display:none;
}
.hover-element .operation-button{
    width:  3.5vw ;
    height:  4vw ;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0 ;
}
.knife {
    background: url("../images/knife.png") no-repeat 0 0;
    background-size: 100% 100% ;
}
.exam {
    background: url("../images/exam.png") no-repeat 0 0;
    background-size: 100% 100% ;
}
.aim {
    background: url("../images/aim.png") no-repeat 0 0;
    background-size: 100% 100% ;
}
.plus {
    background: url("../images/plus.png") no-repeat 0 0;
    background-size: 100% 100% ;
}
footer{
    position : fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding:  2rem ;
    text-align: center;
    background-color: #29BDE0;
}
footer button{
    color: white;
    text-align: center;
    background-color: orange;
    padding: 1rem;
    outline: none ;
    width: 70%;
    border: none;
    margin: 0 ;
}