




body {
  background-color: #f0f0f0;
  margin: 4em 0;

  hr {
    margin: 0;
  }

  .row {
    margin: 0;
    text-align: center;
  }
  .last-game {
    color: #9d9d9d;
    font-size: 1em;
    padding: 1em;
    margin: 2em 5%;
    background-color: white;
    border: solid 1px #c0c0c0;

    #last-game-right {
      background: url(../images/direction.png) no-repeat 0 0;
      background-size: 100% 100%;
      height: 1.5em;
      width: 0.9em;
      float: right;
      margin-right: 1em;
    }
  }
  .game{
    margin: .5em 5%;
    background-color: white;
    border: solid 1px #c0c0c0;

    .orange-header {
      color: orange;
      font-size: 1.2em;
      padding: 0.5em;
    }


    .triangle {
      float: right;
      display: inline-block;
      width: 5%;
      margin-right: 5px;

      .image{
        background: url(../images/rightward-triangle.png) no-repeat 0 0;
        background-size: 100% 100%;
        height: 2em;
        width: 1em;
        margin: auto 0 ;
      }
    }

    .real-body {
      text-align: center;
      overflow: hidden;
      width: 80%;
      margin: 0 0 0 10%;
      .vertion-choose {
        background-color: #5AC0CE;
        padding: 1.5em;
        color: white;
        width: 100%;
        margin: 1em auto;
        outline: none;
        border: none;
      }
    }

    .four-circle {
      margin: 0 auto;

      .little-circle {
        width: .5em;
        height: .8em;
        border-radius: 50%;
      }
      .div-circle {
        display: inline;

        button{
          border: none;
          outline:none;
        }

        .blue-circle {
          background-color: #5AC0CE;
        }

        .gray-circle {
          background-color: #9d9d9d;
        }
      }

    }
  }

}