


body {
  margin-top: 6rem  ;
  background-color: #29BDE0;


  #idStatus {
    margin: 1rem auto;
    width: 30vh;
    height: 30vh;
    background: url(../images/view-status.png) no-repeat 100% 100%;
    background-size: 100% 100%;

  }

  #idStatusText {
    color: #29BDE0;
  }

  .main{
    height: 60vh;
    width: 70vw;
    max-width: 480px;
    margin: 8.4rem auto;
    text-align: center;
    border:0.6rem solid #fff;
    background-color: #ffedc5;
  }

  .circle{
    width: 6.8rem;
    height: 6.8rem;
    margin: -4rem auto 0 auto;
    font-size: 4rem;
    line-height: 6.8rem;
    border:0.3rem solid #ffedc5;
    border-radius: 50%;
    color: #f56b81;
    background-color: #fff;
  }
}



footer {
  height: 10vh;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  button {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: #FAB344;
    outline: none;
    border: none;
    color: white;
    font-size: 2rem;
  }
}